.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 8rem;
background-color: rgb(37, 42, 49);
}

.title {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 22px;
    color: #ffff;
}
